{% load staticfiles %}
<div class="contente">
    <div class="efir some">
        <img src="{% static 'img/blocks/moda1.jpeg' %}" alt="img">
        <div class="blockText">
                <div class="caption">
                    Полезные эфиры
                </div>
                <div class="text">
                    Fffvdfvdf fdvfvdf fvfdvdffvf dffdfff
                </div>
        </div>
    </div> 
    <div class="heart some">
        <img src="{% static 'img/blocks/moda1.jpeg' %}" alt="img">
        <div class="blockText">    
            <div class="caption">
                Покорительница сердец
            </div>
            <div class="text">
                Fffvdfvdf fdvfvdf fvfdvdffvf dffdfff
            </div>
        </div>
    </div>
    <div class="about some">
        <img src="{% static 'img/blocks/moda1.jpeg' %}" alt="img">
        <div class="blockText">
            <img src="{% static 'img/user.svg' %}" alt="">
            <div class="caption">
                Обо мне
            </div>
            <div class="text">
                Fffvdfvdf fdvfvdf fvfdvdffvf dffdfff
            </div>
        </div>
    </div>
    <div class="meet some">
        <img src="{% static 'img/blocks/moda1.jpeg' %}" alt="img">
        <div class="blockText">
            <div class="caption">
                Секреты знакомств
            </div>
            <div class="text">
                Fffvdfvdf fdvfvdf fvfdvdffvf dffdfff
            </div>
        </div>
    </div> 
    <div class="couch some">
        <img src="{% static 'img/blocks/moda1.jpeg' %}" alt="img">
        <div class="blockText">   
            <div class="caption">
                Саморазвитие
            </div>
            <div class="text">
                Fffvdfvdf fdvfvdf fvfdvdffvf dffdfff
            </div>
        </div>
    </div>
    <div class="cursMen some">
        <img src="{% static 'img/blocks/moda1.jpeg' %}" alt="img">
        <div class="blockText">    
            <div class="caption">
                Курс для мужчин
            </div>
            <div class="text">
                Fffvdfvdf fdvfvdf fvfdvdffvf dffdfff
            </div>
        </div>
    </div>
    <div class="speak some">
        <img src="{% static 'img/blocks/moda1.jpeg' %}" alt="img">
        <div class="blockText">
            <div class="caption">
                Личные консультации
            </div>
            <div class="text">
                Fffvdfvdf fdvfvdf fvfdvdffvf dffdfff
            </div>
        </div>
    </div>
    <div class="otzv some">
        <img src="{% static 'img/blocks/moda1.jpeg' %}" alt="img">
        <div class="blockText">
            <div class="caption">
                Отзывы
            </div>
            <div class="text">
                Fffvdfvdf fdvfvdf fvfdvdffvf dffdfff
            </div>
        </div>
    </div>
</div>