html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    outline: none;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
    padding: 1% 0;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}
img {
    height: auto;
    max-width: 100%;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
h1 {
    color: grey;
    text-align: center;
    margin-bottom: 3rem;
}

.hidden { display: none; }
$white: #FBFBFB;
$black: #2B2B2B;
$black-light: rgba(31, 31, 31, 0.98);
$blue: #08367E;
$blue-light: #04ABFF;
$grey: #363636;
$header-height: 3.75rem;
$nav-toggle-height: 3rem;
$side-icon-padding: .8rem;
$icon-width: 2rem;
$logo-width: 2rem;
$trans-bounce: all cubic-bezier(0.47, 0.07, 0.21, 1.4) .2s;
$breakpoint: 720px;

//Animation
@keyframes bounce {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes hoverIn {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

@keyframes hoverOut {
  from { transform: translateX(0); }
  to { transform: translateX(110%); }
}