main{
    display: flex;
    justify-content: center;
    .contente{
        max-width: 1400px;
        display: grid;
        grid-template-areas:    "efir efir heart heart about about"
                                "efir efir heart heart about about"
                                "meet meet couch couch about about"
                                "meet meet couch couch about about"
                                "men  men  men   men   about about"
                                "speak speak speak otzv otzv otzv";
        grid-template-columns: 1fr 1fr 1fr 1fr 2fr 2fr;
        gap: 5px;
        @media(max-width: 620px){
            display: block;
        }
        .some{
            position: relative;
            background-image:
            linear-gradient(
              to right, 
              #d7f0a2 15%,
              #d7f0a2 85%
            );
            img{
                width: 100%;
                height: 100%;
            }
            .blockText{
                .caption{
                    font-size: 12pt;
                    font-weight: 900;
                }
                padding-top: 40%;
                background-color: rgba(0, 0, 0, 0.5);
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                color: white;
            }
            text-align: center;
        }
        .efir, .heart{
            width: 100%;
            height: 100%;
            opacity: 1;
        }

        .couch, .meet{
            width: 100%;
            height: 100%;
        }
        .efir{
            grid-area: efir;
        }
        .heart{
            grid-area: heart;
        }
        .about{
            grid-area: about;
            .blockText{
                padding-top: 0;
                img{
                    width: 50%;
                    height: 70%;
                    @media only screen and(max-width: 800px) and (max-height: 1280px){
                        height: 50%;
                    }
                    @media only screen and(max-width: 1280px) and (max-height: 800px){
                        height: 40%;
                    }
                }
            }

        }
        .meet{
            grid-area: meet;
        }
        .couch{
            grid-area: couch;
        }
        .cursMen{
            grid-area: men;
            @media only screen and (min-width: 360px) and (max-width: 768px){
                margin: auto;
                width: 100%;
                height: 400px;
            }
            @media only screen and (min-width: 780px){
                margin: auto;
                width: 100%;
                height: 500px;
            }
        }
        .speak{
            grid-area: speak;
            grid-column: 1 / 5;
        }
        .otzv{
            grid-area: otzv;
            grid-column: 5 / 7;
        }
        .some{
            @media(max-width: 620px){
                height: 400px;
            }
        }
    }
}
