{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/form/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/slide/slider.css' %}">
    <link rel="stylesheet" href="{% static 'css/animations.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script src="{% static 'js/effect.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>
    <title>elenafemme</title>
</head>
<body>
    <div class="form">
        {% include 'form/form.html' %}
    </div> 
            {% include 'header/header.html' %}
            {% include 'slider/slider.html' %}
            <h1>Выбери свой путь!</h1>
        <main>
            {% include 'main/main.html' %}
        </main>

        <footer>
            <div class="f">
                {% include 'footer/footer.html' %}
            </div>
        </footer>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script type="text/javascript" src="{% static 'js/room.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/slider.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
    </body>
</html>